<!DOCTYPE html>
<html lang=en-us>

<head>
    <meta charset="UTF-8">
    <title>NER for ESL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-bran" href="/">Named Entity Recognition Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Further information
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/about" target="blank_">about this project</a>
                        <a class="dropdown-item"
                            href="https://chatbotslife.com/practical-nlp-for-language-learning-9b3a259fe7b5"
                            target="blank_">medium article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/mateoias/flask_ner" target="blank_">Github source
                        code</a>
                </li>
        </div>
        </ul>
        </div>
    </nav>
    <div class="p-3 mb-2 bg-dark text-white">  
        <div class="container mb-2 mt-4">
<h2> A quick summary of the API</h2>

<h5> This API grew out of (one of) my frustrations as a chinese student. 
When I read the newspaper, I know most of the important characters, 
but I often don't know proper nouns, such as peoples' names, 
cities, company names, and so on. Thus I often get lost in the text. 
At the same time, I see that my ESL students have the same struggle in English. 
This API is designed to help language learners resolve the problem of unknown vocabulary, 
especially in terms of proper nouns (see detailed motivation below). 
This demo of the functionality of the API, is hosted as an EC2 instance on AWS 
without a nice user interface.
Just input English or Chinese text and it will identify proper nouns
(named entities) for you. The user interface will be coming soon :)

</h5>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6">


                <img src="keyboard.jpeg" class="img-fluid" alt="book cover" width="200" height="200">
                    <br>
                    Sometimes it feels like language teaching isn't keeping up with technology
                    <br>
                    image courtesy of Amir Tavas on <a href=" https://unsplash.com/photos/Aa7yTcxIKnk?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">Unsplash</a>
                   
            </div>
            <!-- <div class="col-md-6">
                <img src="OZ_plots/wizard_of_Oz_Cover.jpg" class="img-fluid mb-2" alt="book cover">
            </div> -->
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</div>
</body>

</html>