<!DOCTYPE html>
<html lang=en-us>

<head>
    <meta charset="UTF-8">
    <title>NER for ESL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-bran" href="/">Named Entity Recognition Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Further information
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/about" target="blank_">about this project</a>
                        <a class="dropdown-item"
                            href="https://chatbotslife.com/practical-nlp-for-language-learning-9b3a259fe7b5"
                            target="blank_">Why NER?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/mateoias/flask_ner" target="blank_">Github source
                        code</a>
                </li>
        </div>
        </ul>
        </div>
    </nav>

    <div class="p-3 mb-2 bg-dark text-white">  
        <div class="container mb-2 mt-4">
<h2> A quick summary of the API</h2>

<h5> This API grew out of (one of) my frustrations as a chinese student. 
When I read the newspaper, I know most of the important characters, 
but I often don't know proper nouns, such as peoples' names, 
cities, company names, and so on. Thus I often get lost in the text. 
At the same time, I see that my ESL students have the same struggle in English.
<br> 
This API is designed to help language learners resolve the problem of unknown vocabulary, 
especially in terms of proper nouns (see a more detailed motivation in "further information => "Why NER?"
).This demo of the functionality of the API is hosted as an EC2 instance on AWS 
using Flask.
<br> 
Just input English or Chinese text and it will identify proper nouns
(named entities) for you. As an added bonus, it will give you the pronunciation 
of the Chinese characters in roma pinyin. Please enjoy, and if you have any comments, contact me at
mateoias@hotmail.com

</h5>
    </div> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</div>
</body>

</html>